@use "/src/shared/assets/styles/mixin" as mix;

.search {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__input {
    @include mix.Input;
  }

  &__btn {
    padding: 19px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }
}
