.img {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 10%;
}

.spin {
  transform-origin: center;
  animation: spin 1.1s linear infinite;
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
