@font-face {
  font-family: "Ysabeau-Bold";
  src: url("/src/shared/assets/fonts/Ysabeau-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Ysabeau-Light";
  src: url("/src/shared/assets/fonts/Ysabeau-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Ysabeau-Thin";
  src: url("/src/shared/assets/fonts/Ysabeau-Thin.ttf") format("truetype");
}
